/* Home.css */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

.button-logout, .button-contact {
  padding: 10px 44px;
  border-radius: 12px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.button-logout {
  background-color: #fe8100;
  color: white;
}

.button-contact {
  background: none;
  color: white;
}

.home-image-section {
  display: flex;
  justify-content: center;
  height: calc(100vh - 109px);
  background-image: url('../assets/imgs/img-home1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 20px;
  position: relative;
}

.home-image-text {
  position: absolute;
  width: 900px;
  height: 150px;
  top: 200px;
  left: 250px;
  color: #000000;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-align: left;
}

/* Serviços */
.services-section {
  background-color: white;
  padding: 50px 20px;
  text-align: left;
  max-width: 1400px;
  margin: 0 auto;
}

.services-title {
  font-size: 30px;
  color: #3C3C3C;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-bottom: 40px;
}

.services-cards {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  max-width: 1400px;
}

.services-cards img {
  width: 200px;
  height: auto;
}

/* Oportunidades */
.opportunities-section {
  background-color: white;
  padding: 50px 20px;
  max-width: 1400px;
  margin: 0 auto;
  text-align: left;
}

.opportunities-title {
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #343434;
  margin-bottom: 40px;
}

.opportunities-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  max-width: 1400px;
  padding: 20px 0;
}

.card {
  flex: 1 1 calc(25% - 20px);
  max-width: calc(25% - 20px);
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 0 10px #fe8100;
}

.card img {
  width: 100%;
  border-radius: 12px;
}

.card-price {
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 0 10px;
  color: #343434;
}

.card-info {
  font-size: 14px;
  color: #848383;
  margin: 4px 0 10px 10px;
}

.card-tags {
  display: flex;
  gap: 8px;
  padding: 0 0 10px 10px;
}

.card-tag {
  background-color: #fe8100;
  color: #fff;
  font-size: 12px;
  border-radius: 8px;
  padding: 4px 10px;
  font-weight: 500;
}