/* Login.css */

.login-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  padding-top: 109px; /* espaço para header fixo */
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 6pc;
  margin-top: 30px;
  width: 100%;
  max-width: 521px;
  height: 698px;
  border-radius: 29px;
  box-shadow: 0px 4px 7px 0px #00000025;
}

.login-box h1 {
  font-size: 28px;
  margin-bottom: 100px;
  font-family: 'Poppins', sans-serif;
  color: #343434;
}

.login-input {
  width: 311px;
  padding: 15px;
  font-size: 16px;
  background: #f2f2f4;
  border: none;
  border-radius: 55px;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
}

.login-input.password {
  margin-bottom: 40px;
}

.login-button {
  width: 311px;
  padding: 15px;
  font-size: 16px;
  background: #fe8100;
  color: white;
  border: none;
  border-radius: 55px;
  cursor: pointer;
  margin-bottom: 70px;
  font-family: 'Poppins', sans-serif;
}

.login-message {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  width: 311px;
}

.login-message.error {
  color: red;
}

.login-message.success {
  color: #00e749;
}

.create-account-link {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fe8100;
  text-decoration: none;
  cursor: pointer;
}

.image-box {
  position: relative;
  display: flex;
  margin-right: 10pc;
  margin-top: 30px;
  width: 100%;
  max-width: 521px;
  height: 698px;
  z-index: 200;
}

.welcome-text {
  position: absolute;
  width: 540px;
  height: 120px;
  top: 15px;
  left: 15px;
  color: #e9ecf2;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}